.address {
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  color: var(--pl-black);

  p {
    margin: 0;
  }
  @include mobile {
    font-size: 2.4rem;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
      @include mobile {
        margin-bottom: 2.5rem;
      }
    }

    & > div {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__link {
    color: inherit;
  }
}
