.chars {
  padding: 10rem 0;
  @include mobile {
    padding: 5rem 0;
  }
  &__title {
    margin-bottom: 4rem;
    @include mobile {
      line-height: 120%;
      max-width: 95%;
      margin-bottom: 3.2rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 5rem;
    padding-bottom: 4.4rem;
    background-color: var(--pl-white);
    min-height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 0.5rem;

    &:nth-child(3) {
      grid-row: 2 span;
      @include mobile {
        grid-row: unset;
        order: 5;
      }
    }

    @include mobile {
      padding: 2rem;
      border-radius: 1rem;
      min-height: 16.6rem;
    }
  }
  &__container_storage {
    grid-template-columns: 1fr 1fr;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__container_storage &__item {
    &-title {
      max-width: 100%;
    }
    &:nth-child(3) {
      grid-row: unset;

      @include mobile {
        order: unset;
      }
    }
  }

  &__item-title {
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 110%;
    color: var(--pl-black);
    max-width: 50rem;

    @include mobile {
      font-size: 2.2rem;
      line-height: 120%;
      font-weight: 400;
    }
  }
  &__item-value {
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 110%;
    color: var(--pl-blue);
    max-width: 50rem;

    @include mobile {
      font-size: 2.2rem;
      line-height: 120%;
      font-weight: 400;
    }
  }
  &__item-icon {
    width: 4.8rem;
    height: auto;
    margin-bottom: 0.65rem;
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    @include mobile {
      width: 4rem;
      margin-bottom: 0;
    }
  }
  &__item-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .storage__item_big-icon &__item-icon {
    width: 5.6rem;
  }
}
