.steps {
  padding: 9.5rem 0 9rem;
  @include mobile {
    padding: 5.5rem 0;
  }
  &__title {
    margin-bottom: 5.5rem;
    @include mobile {
      margin-bottom: 0;
    }
  }
  &__container {
    display: flex;
    max-width: 192rem;
    margin: 0 auto;
    min-height: 78rem;
    border-radius: 0.5rem;

    @include mobile {
      max-width: 100%;
      display: block;
      min-height: unset;
      border-radius: unset;
      padding: 0 var(--container-offset);
    }
  }

  &__tabs {
    counter-reset: counter;

    @include mobile {
      display: none;
    }
  }

  &__tab {
    counter-increment: counter;
    cursor: pointer;
    @include mobile {
      display: none;
    }
    &_mob {
      pointer-events: none;
      display: none;
      @include mobile {
        display: block;
        padding: 5rem;
        padding-top: 4.2rem;
        height: 29rem;
        background-color: var(--pl-white);
        border-radius: 0.5rem;
        mask-image: url("./../img/svg/steps-content-mob.svg");
        mask-position: bottom;
        mask-repeat: no-repeat;
        mask-size: cover;
      }
    }
    &:not(:last-child) {
      margin-bottom: 3.4rem;
      @include mobile {
        margin-bottom: 0;
      }
    }
  }

  &__tab-btn {
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 130%;
    color: var(--pl-black);
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    &::before {
      content: counter(counter);
      display: inline-block;
      font-weight: 500;
      font-size: 2.8rem;
      line-height: 130%;
      color: var(--pl-black);
      margin-right: 1.3rem;
      vertical-align: top;
      transition-property: color;
      transition-duration: 0.3s;
      transition-timing-function: ease;

      @include mobile {
        display: none;
      }
    }
    span {
      display: none;

      @include mobile {
        display: inline-block;
        font-size: 2.4rem;
        line-height: 150%;
        font-weight: 600;
        margin-right: 1.6rem;
        color: var(--pl-blue);
      }
    }
    @include mobile {
      display: flex;
      align-items: flex-start;
      font-size: 2.4rem;
      line-height: 150%;
      font-weight: 600;
    }
  }

  &__tab-desc {
    max-width: 39rem;
    padding-left: 3.4rem;
    font-size: 2.2rem;
    line-height: 130%;

    box-sizing: content-box;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.3s;
    will-change: max-height;

    @include mobile {
      max-height: unset;
      transition: unset;
      will-change: unset;
      box-sizing: border-box;
      max-width: 31.5rem;
      padding-left: 0;
      padding-top: 1rem;

      span {
        display: block;
      }
    }
  }

  &__content {
    min-height: 100%;
    padding: 9.7rem 10rem 9.3rem;
    padding-right: 18rem;
    flex-basis: 79.5rem;
    flex-shrink: 0;

    mask-image: url("./../img/svg/steps-content.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    background-color: var(--pl-white);

    @include mobile {
      background-color: transparent;
      mask: none;
      padding: 0;
      margin-bottom: 3.5rem;
    }
  }

  &__slider {
    min-height: 100%;
    max-width: 100%;
    min-width: 0;
    background-color: var(--pl-white);
    flex-grow: 1;
    margin-left: -19rem;

    mask-image: url("./../img/svg/steps-video.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    .swiper,
    .swiper-wrapper,
    .swiper-slide {
      height: 100%;
    }

    @include mobile {
      counter-reset: counter;
      width: 100%;
      margin-left: 0;
      background-color: transparent;
      mask: none;

      .swiper {
        margin: 0 calc(-1 * var(--container-offset));
        padding: 0 var(--container-offset);
      }

      .swiper-slide {
        height: 84rem;
        width: 48rem;
      }
    }
  }

  &__video {
    height: 100%;
    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mobile {
      margin-top: -15rem;
      height: 70rem;
      mask-image: url("./../img/svg/steps-video-mob.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }

  &__tab.active {
    .steps__tab-btn {
      color: var(--pl-blue);
      &::before {
        color: var(--pl-blue);
      }
    }

    .steps__tab-desc {
      padding-top: 0.8rem;
    }
  }

  &__tab:not(.active) {
    @include hover {
      .steps__tab-btn {
        color: var(--pl-lightblue);
        &::before {
          color: var(--pl-blue);
        }
      }
    }

    &:focus-visible {
      outline: none;

      .steps__tab-btn {
        color: var(--pl-lightblue);
        &::before {
          color: var(--pl-blue);
        }
      }
    }

    &:active {
      .steps__tab-btn {
        color: var(--pl-blue);
        &::before {
          color: var(--pl-blue);
        }
      }
    }
  }
}

.steps_storage {
  @include mobile {
    .steps__item {
      display: flex;
      gap: 4rem;
      flex-direction: column;
    }
    .steps__tab_mob {
      mask-image: url("./../img/svg/steps-content-mob-storage.svg");
      height: 31rem;
    }
    .steps__video {
      mask-size: cover;
      mask-position: top;
      border-radius: 0 0 1rem 1rem;
    }
  }
}
