<section class="benefits">
  <div class="container">
    <h2 class="title-lg benefits__title">Преимущества</h2>

    <div class="benefits__container">
      <div class="benefits__item">
        <div class="benefits__item-icon">
          <img src="./img/benefits/01.svg" width="48" height="48" alt="">
        </div>

        <div class="benefits__item-content">
          <p class="benefits__item-title">Статус сервис-провайдер</p>
          <div class="benefits__item-desc">
            <p>
              Выпускаем коды, стикеруем, оформляем
            </p>
          </div>
        </div>
      </div>

      <div class="benefits__item">
        <div class="benefits__item-icon">
          <img src="./img/benefits/02.svg" width="48" height="48" alt="">
        </div>

        <div class="benefits__item-content">
          <p class="benefits__item-title">Маркируем оперативно </p>
          <div class="benefits__item-desc">
            <p>
              До&nbsp;5&nbsp;дней в&nbsp;зависимости от&nbsp;объёма

            </p>
          </div>
        </div>
      </div>

      <div class="benefits__item">
        <div class="benefits__item-icon">
          <img src="./img/benefits/03.svg" width="48" height="48" alt="">
        </div>

        <div class="benefits__item-content">
          <p class="benefits__item-title">Мы&nbsp;проверяли </p>
          <div class="benefits__item-desc">
            <p>
              Цены ниже, чем&nbsp;у&nbsp;конкурентов
            </p>
          </div>
        </div>
      </div>

      <div class="benefits__item">
        <div class="benefits__item-icon">
          <img src="./img/benefits/04.svg" width="48" height="48" alt="">
        </div>

        <div class="benefits__item-content">
          <p class="benefits__item-title">Все&nbsp;виды этикеток </p>
          <div class="benefits__item-desc">
            <p>
              Работаем по ТЗ
            </p>
          </div>
        </div>
      </div>

      <div class="benefits__item">
        <div class="benefits__item-icon">
          <img src="./img/benefits/05.svg" width="48" height="48" alt="">
        </div>

        <div class="benefits__item-content">
          <p class="benefits__item-title">Полный цикл </p>
          <div class="benefits__item-desc">
            <p>
              Регистрация честного знака,<br>
              печать и нанесение кодов
            </p>
          </div>
        </div>
      </div>

      <div class="benefits__item">
        <div class="benefits__item-icon">
          <img src="./img/benefits/06.svg" width="48" height="48" alt="">
        </div>

        <div class="benefits__item-content">
          <p class="benefits__item-title">Обучение </p>
          <div class="benefits__item-desc">
            <p>
              Интеграция с&nbsp;вашей системой
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
