<section class="blog">
  <div class="container">
    <h2 class="title-lg blog__title">Статьи</h2>

    <div class="blog__container">
      <article class="blog__item">
        <a href="#" class="blog__link"></a>
        <div class="blog__item-img">
          <img src="./img/blog/01.webp" alt="">
        </div>
        <div class="blog__item-content">
          <h5 class="blog__item-title">
            Что&nbsp;такое «Честный знак» и&nbsp;зачем нужна маркировка товаров в&nbsp;России?
          </h5>
        </div>
      </article>
      <article class="blog__item">
        <a href="#" class="blog__link"></a>
        <div class="blog__item-img">
          <img src="./img/blog/02.webp" alt="">
        </div>
        <div class="blog__item-content">
          <h5 class="blog__item-title">
            Пошаговое руководство по&nbsp;внедрению маркировки для&nbsp;бизнеса
          </h5>
        </div>
      </article>
      <article class="blog__item">
        <a href="#" class="blog__link"></a>
        <div class="blog__item-img">
          <img src="./img/blog/03.webp" alt="">
        </div>
        <div class="blog__item-content">
          <h5 class="blog__item-title">
            ТОП-5&nbsp;ошибок при&nbsp;работе с&nbsp;маркировкой
            и&nbsp;как&nbsp;их избежать
          </h5>
        </div>
      </article>
    </div>

    <div class="blog__bottom centered">
      <a href="#" class="btn btn-reset btn_white blog__btn">Все статьи</a>
    </div>
  </div>

</section>