<section class="brief">
  <div class="container">
    <div class="brief__container">
      <div class="brief__item b-item">
        <div class="b-item__img-wrapper">
          <div class="b-item__img">
            <picture>
              <source srcset="./img/brief/01-mob.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="./img/brief/01.webp" type="image/webp">
              <img loading="lazy" src="./img/brief/01.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>
          <div class="b-item__img b-item__img_hover">
            <picture>
              <source srcset="./img/brief/01-hover.webp" type="image/webp">
              <img loading="lazy" src="./img/brief/01-hover.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>

        </div>

        <div class="b-item__content">
          <p class="b-item__title">Цифровая маркировка</p>
        </div>
      </div>

      <div class="brief__item b-item">
        <div class="b-item__img-wrapper">
          <div class="b-item__img">
            <picture>
              <source srcset="./img/brief/02-mob.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="./img/brief/02.webp" type="image/webp">
              <img loading="lazy" src="./img/brief/02.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>
          <div class="b-item__img b-item__img_hover">
            <picture>
              <source srcset="./img/brief/02-hover.webp" type="image/webp">
              <img loading="lazy" src="./img/brief/02-hover.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>

        </div>

        <div class="b-item__content">
          <p class="b-item__title">Таможенный склад</p>
        </div>
      </div>

      <div class="brief__item b-item">
        <div class="b-item__img-wrapper">
          <div class="b-item__img">
            <picture>
              <source srcset="./img/brief/03-mob.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="./img/brief/03.webp" type="image/webp">
              <img loading="lazy" src="./img/brief/03.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>
          <div class="b-item__img b-item__img_hover">
            <picture>
              <source srcset="./img/brief/03-hover.webp" type="image/webp">
              <img loading="lazy" src="./img/brief/03-hover.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>

        </div>

        <div class="b-item__content">
          <p class="b-item__title">Терминал</p>
        </div>
      </div>
    </div>
  </div>
</section>
