<section class="chars">
  <div class="container">
    <h2 class="title-lg chars__title">
      Технические характеристики<br>
      складского комплекса
    </h2>


    <div class="chars__container">
      <div class="chars__item">
        <p class="chars__item-title"> Таможенный склад</p>

        <div class="chars__item-footer">
          <p class="chars__item-value">
            4500 м<sup>2</sup>
          </p>

          <div class="chars__item-icon">
            <img src="./img/chars/01.svg" alt="Иконка Ценовая политика">
          </div>
        </div>
      </div>

      <div class="chars__item">
        <p class="chars__item-title">Открытый склад </p>

        <div class="chars__item-footer">
          <p class="chars__item-value">
            20000 м<sup>2</sup>
          </p>

          <div class="chars__item-icon">
            <img src="./img/chars/02.svg" alt="Иконка Ценовая политика">
          </div>
        </div>
      </div>


      <div class="chars__item">
        <p class="chars__item-title">Закрытая территория для маркировки </p>

        <div class="chars__item-footer">
          <p class="chars__item-value">
            450 м<sup>2</sup>
          </p>

          <div class="chars__item-icon">
            <img src="./img/chars/03.svg" alt="Иконка Ценовая политика">
          </div>
        </div>
      </div>

      <div class="chars__item chars__item_big-icon">
        <p class="chars__item-title">Вместимость таможенного склада</p>

        <div class="chars__item-footer">
          <p class="chars__item-value">
            400 TEU
          </p>

          <div class="chars__item-icon">
            <img src="./img/chars/04.svg" alt="Иконка Ценовая политика">
          </div>
        </div>
      </div>

      <div class="chars__item chars__item_big-icon">
        <p class="chars__item-title">Вместимость открытого склада</p>

        <div class="chars__item-footer">
          <p class="chars__item-value">
            600 TEU
          </p>

          <div class="chars__item-icon">
            <img src="./img/chars/05.svg" alt="Иконка Ценовая политика">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
