<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <address class="footer__address address">
        <div class="address__item">
          <div>
            <a href="tel:89146800754" class="link-btn address__link">8 914 680 07 54</a>
          </div>
          <div>
            <a href="tel:84232054084" class="link-btn address__link">8 423 205 40 84</a>
          </div>
        </div>
        <div class="address__item">
          <a href="mailto:sales@plforma.pro" class="link-btn address__link">sales@plforma.pro</a>
        </div>
        <div class="address__item">
          <p>
            Приморский край, Надеждинский р-н,<br>
            c. Вольно-Надеждинское,<br>
            тер. Опережающего Развития Приморье.
          </p>
        </div>
      </address>

      <div class="footer__right">
        <address class="footer__socials">
          <ul class="socials list-reset">
            <li>
              <a href="#" target="_blank">
                <img src="./img/wa.svg" alt="">
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="./img/tg.svg" alt="">
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="./img/vk.svg" alt="">
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="./img/youtube.svg" alt="">
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="./img/inst.svg" alt="">
              </a>
            </li>
          </ul>
        </address>

        <div class="footer__links">
          <div>
            <a href="#" class="footer__link link-btn" target="_blank">Политика конфиденциальности</a>
          </div>
        </div>

        <small class="footer__copy">
          <p>
            ©2025 Платформа
          </p>
        </small>
      </div>
    </div>
  </div>
</footer>
