<section class="format">
  <div class="container format__container">
    <div class="format__content">
      <h2 class="title-xl format__title">Формирование
        цены этикетки
      </h2>
      <div class="desc format__desc">
        <ol>
          <li>Выпуск кода маркировки в&nbsp;Честном знаке</li>
          <li>Печать этикетки, зависит от&nbsp;размера этикетки</li>
          <li>Стикеровка (оклейка)</li>
        </ol>
      </div>
    </div>

    <div class="format__img">
      <picture>
        <source srcset="./img/stick-mob.webp" type="image/webp" media="(max-width: 576px)">
        <source srcset="./img/stick.webp" type="image/webp">
        <img loading="lazy" src="./img/stick.jpg" class="image" width="1920" height="500" alt="">
      </picture>
    </div>
  </div>
</section>
