<section class="hero">
  <div class="hero__img">
    <picture>
      <source srcset="./img/hero-mob.webp" type="image/webp" media="(max-width: 576px)">
      <source srcset="./img/hero.webp" type="image/webp">
      <img loading="lazy" src="./img/hero.jpg" class="image" width="1920" height="1000" aria-hidden="true" alt="">
    </picture>
  </div>
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        От&nbsp;таможни
        до&nbsp;маркировки
        &mdash;&nbsp;единая&nbsp;PLATFORMA
      </h1>
      <button class="btn btn-reset btn_big hero__btn">Оставить заявку</button>
    </div>
  </div>
</section>
