<section class="kind">
  <div class="container">
    <h2 class="title-lg kind__title">Популярные виды&nbsp;этикеток</h2>

    <div class="kind__slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-src="./img/kind/01.png" data-fancybox="kind" data-caption="15x20">
            <div class="kind__item">
              <div class="kind__header">
                <div class="kind__size">
                  15x15 мм
                </div>
              </div>

              <div class="kind__img">
                <picture>
                  <source srcset="./img/kind/01-mob.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="./img/kind/01.webp" type="image/webp">
                  <img loading="lazy" src="./img/kind/01.png" class="image" width="435" height="307" alt="">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-src="./img/kind/01.png" data-fancybox="kind" data-caption="15x20">
            <div class="kind__item">
              <div class="kind__header">
                <div class="kind__size">
                  20x20 мм
                </div>
              </div>

              <div class="kind__img">
                <picture>
                  <source srcset="./img/kind/02-mob.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="./img/kind/02.webp" type="image/webp">
                  <img loading="lazy" src="./img/kind/02.png" class="image" width="435" height="307" alt="">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-src="./img/kind/01.png" data-fancybox="kind" data-caption="15x20">
            <div class="kind__item">
              <div class="kind__header">
                <div class="kind__size">
                  29x20 мм
                </div>
              </div>

              <div class="kind__img">
                <picture>
                  <source srcset="./img/kind/03-mob.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="./img/kind/03.webp" type="image/webp">
                  <img loading="lazy" src="./img/kind/03.png" class="image" width="435" height="307" alt="">
                </picture>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-src="./img/kind/01.png" data-fancybox="kind" data-caption="15x20">
            <div class="kind__item">
              <div class="kind__header">
                <div class="kind__size">
                  43x25 мм
                </div>
              </div>

              <div class="kind__img">
                <picture>
                  <source srcset="./img/kind/04-mob.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="./img/kind/04.webp" type="image/webp">
                  <img loading="lazy" src="./img/kind/04.png" class="image" width="435" height="307" alt="">
                </picture>
              </div>
            </div>
          </div>

          <div class="swiper-slide" data-src="./img/kind/01.png" data-fancybox="kind" data-caption="15x20">
            <div class="kind__item">
              <div class="kind__header">
                <div class="kind__size">
                  58х40 мм
                </div>
              </div>

              <div class="kind__img">
                <picture>
                  <source srcset="./img/kind/05-mob.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="./img/kind/05.webp" type="image/webp">
                  <img loading="lazy" src="./img/kind/05.png" class="image" width="435" height="307" alt="">
                </picture>
              </div>
            </div>
          </div>

          <div class="swiper-slide" data-src="./img/kind/01.png" data-fancybox="kind" data-caption="15x20">
            <div class="kind__item">
              <div class="kind__header">
                <div class="kind__size">
                  58х60 мм
                </div>
              </div>

              <div class="kind__img">
                <picture>
                  <source srcset="./img/kind/06-mob.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="./img/kind/06.webp" type="image/webp">
                  <img loading="lazy" src="./img/kind/06.png" class="image" width="435" height="307" alt="">
                </picture>
              </div>
            </div>
          </div>

          <div class="swiper-slide swiper-slide_rm"  data-src="./img/kind/01.png" data-fancybox="kind" data-caption="15x20">
            <div class="kind__item">
              <div class="kind__header">
                <div class="kind__size">
                  Мы&nbsp;так&nbsp;же&nbsp;можем изготовить этикетку под&nbsp;ваш&nbsp;индивидуальный запрос
                </div>
              </div>

              <div class="kind__img">
                <picture>
                  <source srcset="./img/kind/07-mob.webp" type="image/webp" media="(max-width: 576px)">
                  <source srcset="./img/kind/07.webp" type="image/webp">
                  <img loading="lazy" src="./img/kind/07.png" class="image" width="435" height="307" alt="">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="kind__extra">
      Мы так же можем изготовить этикетку под ваш индивидуальный запрос
    </div>
  </div>
</section>
