<section class="more">
  <div class="container">
    <div class="more__header">
      <div class="more__text">
        <h2 class="more__title title-lg">Вопросы и ответы</h2>
        <p class="desc more__desc">
          Больше информации в наших соц. сетях
        </p>
      </div>

      <ul class="more__socials socials list-reset">
        <li>
          <a href="#" target="_blank">
            <img src="./img/vk.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="./img/youtube.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="./img/inst.svg" alt="">
          </a>
        </li>
      </ul>

    </div>

  </div>
  <div class="more__slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="more__img">
            <picture>
              <source srcset="./img/more/01.webp" type="image/webp">
              <img loading="lazy" src="./img/more/01.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="more__img">
            <picture>
              <source srcset="./img/more/02.webp" type="image/webp">
              <img loading="lazy" src="./img/more/02.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="more__img">
            <picture>
              <source srcset="./img/more/03.webp" type="image/webp">
              <img loading="lazy" src="./img/more/03.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="more__img">
            <picture>
              <source srcset="./img/more/04.webp" type="image/webp">
              <img loading="lazy" src="./img/more/04.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="more__img">
            <picture>
              <source srcset="./img/more/05.webp" type="image/webp">
              <img loading="lazy" src="./img/more/05.png" class="image" width="585" height="593" alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
