<section class="steps">
  <div class="steps__container">
    <div class="steps__content">
      <h2 class="title-xl steps__title">Как это работает</h2>

      <div class="steps__tabs">
        <div class="steps__tab active">
          <button class="steps__tab-btn btn-reset">Поступление товара</button>
          <div class="steps__tab-desc desc" style="max-height: unset;">
            <p>
              Товар поступает
              на&nbsp;таможенный склад
            </p>
          </div>
        </div>
        <div class="steps__tab">
          <button class="steps__tab-btn btn-reset">Создание карточек</button>
          <div class="steps__tab-desc desc">
            <p>
              Создание карточек товара
              в «Национальном каталоге»

            </p>
          </div>
        </div>
        <div class="steps__tab">
          <button class="steps__tab-btn btn-reset">Выпуск кодов</button>
          <div class="steps__tab-desc desc">
            <p>
              Выпуск кодов маркировки «Честный Знак» и агрегационных кодов

            </p>
          </div>
        </div>
        <div class="steps__tab">
          <button class="steps__tab-btn btn-reset">Печать кодов</button>
          <div class="steps__tab-desc desc">
            <p>
              Выпуск кодов маркировки «Честный Знак» и&nbsp;агрегационных кодов

            </p>
          </div>
        </div>
        <div class="steps__tab">
          <button class="steps__tab-btn btn-reset">Проверка</button>
          <div class="steps__tab-desc desc">
            <p>
              Выпуск кодов маркировки «Честный Знак» и агрегационных кодов
            </p>
          </div>
        </div>
        <div class="steps__tab">
          <button class="steps__tab-btn btn-reset">Отгрузка</button>
          <div class="steps__tab-desc desc">
            <p>
              Отгрузка, выпуск в свободное
              обращение
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="steps__slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide steps__item">
            <div class="steps__tab steps__tab_mob">
              <div class="steps__tab-btn btn-reset">Поступление товара</div>
              <div class="steps__tab-desc desc">
                <p>
                  Товар поступает
                  на&nbsp;таможенный склад
                </p>
              </div>
            </div>
            <div class="steps__video" data-video-wrapper>
              <video src="./cover.mp4" poster="./img/steps/01.webp"></video>
              <button class="btn-reset video-play steps__play" data-video-play>
                <svg class="">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </button>

              <div class="video-progress">
                <div class="video-progress-track"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide steps__item">
            <div class="steps__tab steps__tab_mob">
              <div class="steps__tab-btn btn-reset">Создание карточек</div>
              <div class="steps__tab-desc desc">
                <p>
                  Создание карточек товара в «Национальном каталоге»
                </p>
              </div>
            </div>
            <div class="steps__video" data-video-wrapper>
              <video src="./cover.mp4" poster="./img/steps/02.webp"></video>
              <button class="btn-reset video-play steps__play" data-video-play>
                <svg class="">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </button>
              <div class="video-progress">
                <div class="video-progress-track"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide steps__item">
            <div class="steps__tab steps__tab_mob">
              <div class="steps__tab-btn btn-reset">Выпуск кодов</div>
              <div class="steps__tab-desc desc">
                <p>
                  Выпуск кодов маркировки «Честный Знак» и&nbsp;агрегационных кодов
                </p>
              </div>
            </div>
            <div class="steps__video" data-video-wrapper>
              <video src="./cover.mp4" poster="./img/steps/03.webp"></video>
              <button class="btn-reset video-play steps__play" data-video-play>
                <svg class="">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </button>
              <div class="video-progress">
                <div class="video-progress-track"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide steps__item">
            <div class="steps__tab steps__tab_mob">
              <div class="steps__tab-btn btn-reset">Печать кодов </div>
              <div class="steps__tab-desc desc">
                <p>
                  Печать Кодов маркировки,
                  нанесение на товар
                </p>
              </div>
            </div>
            <div class="steps__video" data-video-wrapper>
              <video src="./cover.mp4" poster="./img/steps/04.webp"></video>
              <button class="btn-reset video-play steps__play" data-video-play>
                <svg class="">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </button>
              <div class="video-progress">
                <div class="video-progress-track"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide steps__item">
            <div class="steps__tab steps__tab_mob">
              <div class="steps__tab-btn btn-reset">Проверка</div>
              <div class="steps__tab-desc desc">
                <p>
                  Проверка корректности КМ, Формирование
                  отчета о нанесении
                </p>
              </div>
            </div>
            <div class="steps__video" data-video-wrapper>
              <video src="./cover.mp4" poster="./img/steps/05.webp"></video>
              <button class="btn-reset video-play steps__play" data-video-play>
                <svg class="">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </button>
              <div class="video-progress">
                <div class="video-progress-track"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide steps__item">
            <div class="steps__tab steps__tab_mob">
              <div class="steps__tab-btn btn-reset">Отгрузка</div>
              <div class="steps__tab-desc desc">
                <p>
                  Отгрузка, выпуск в свободное обращение
                </p>
              </div>
            </div>
            <div class="steps__video" data-video-wrapper>
              <video src="./cover.mp4" poster="./img/steps/06.webp"></video>
              <button class="btn-reset video-play steps__play" data-video-play>
                <svg class="">
                  <use xlink:href="img/sprite.svg#play"></use>
                </svg>
              </button>
              <div class="video-progress">
                <div class="video-progress-track"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
