<section class="stock">
  <div class="stock__wrapper">
    <div class="stock__img">
      <picture>
        <source srcset="./img/stock-mob.webp" type="image/webp" media="(max-width: 576px)">
        <source srcset="./img/stock.webp" type="image/webp">
        <img loading="lazy" src="./img/stock.jpg" class="image" width="1920" height="500" alt="">
      </picture>
    </div>
    <div class="stock__content-wrapper">
      <div class="stock__content">
        <div class="stock__text">
          <h2 class="title-lg stock__title">Акция</h2>
          <p class="desc stock__desc">
            Хранение на складе<br>
            в&nbsp;период маркировки БЕСПЛАТНО!
          </p>
          <button class="btn-reset btn btn_big stock__btn">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>
</section>
