<section class="works">
  <div class="container">
    <h2 class="title-lg works__title">Варианты работы</h2>

    <div class="works__container">
      <div class="works__item">
        <p class="works__capture">
          1 Под ключ
        </p>

        <p class="works__desc">
          Полностью под ключ: официальный статус провайдера “Честный Знак” позволяет нам самим выпускать коды
          маркировки. Стикеровка, заведение карточек товара, интеграция с&nbsp;вашим складом.
        </p>

        <div class="works__icon">
          <img src="./img/works/01.svg" aria-hidden="true" alt="">
        </div>
      </div>

      <div class="works__item">
        <p class="works__capture">
          2 Выпуск кодов
        </p>

        <p class="works__desc">
          Без&nbsp;стикеровки, только выпуск кодов маркировки: Выпускаем кода маркировки, отгружаем товар. Нанесение
          кодов маркировки происходит на&nbsp;вашем складе.

        </p>

        <div class="works__icon">
          <img src="./img/works/02.svg" aria-hidden="true" alt="">
        </div>
      </div>
    </div>
  </div>
</section>